html{
    scroll-behavior: smooth;
    height: 100%;
}
    
    
a.activePage{ 
    text-decoration: underline;
    background-color: #A2629B;
    color: white; 
    font-weight: bold;
    text-transform: uppercase;
}

body{
    background-color: rgb(214, 214, 214);
    font-size: 18px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Quicksand';
}

h1{
    font-size: 50px;
    color: #A2629B;
    line-height: 1;
    padding-bottom: 50px; 
    text-align: center;
    display: block;
    font-weight: bold;
    font-family: 'Lora';
}

    
h2{
    font-size: 32px;
    line-height: 1.5;
    text-align: left;
    display: block;
}
    
h2 {
    text-align: center; 
    font-size: 30px; 
    padding: 25px 10px 10px 10px;
}
    
p{
    font-size: 18px;
    line-height: initial;
    text-align: left;
    display: block;
    padding: 10px 0;     
}
    
nav li{
    float:left; 
    align-content: center; 
}
    
header{
    display:flex;
    justify-content: center;
    list-style:none;  
    align-content: center;
    background-color: #A2629B;
    padding: 0;
    text-decoration-color: black;

}
    

nav a{
    display:block; 
    text-align: center;
    width: 150px; 
    text-decoration: none;
    color: black;
}
    
nav a:hover{
    text-decoration: underline;
    text-transform: uppercase;
}
    
.skip a{
    background: rgb(214, 214, 214);
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}
    
a.skip{
    top:auto;
}
    
.skip a:focus, .skip a:active{
    border: 2px slid black;
    left: auto;
    top:auto;
    height: auto;
    overflow: auto;
    margin: 40px;
    padding: 6px;
    z-index: 999;
}
    
*:focus{
    border: 2px solid black;
}
    
    
footer{
    background-color: #A2629B;
    color: rgb(214, 214, 214);
    grid-column: 1 / -1;  
    grid-row: 7 / auto;   
    padding-top: 30px;
}
#container{
    display:block;
    box-sizing: border-box;
    padding: 1em;
}
 
.about{
    padding: 50px; 
}
    
.nav{
    padding: 20px 0; 
    text-align: right; 
    align-content: center;
    grid-column-start: 1; 
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:2;
}
.breakfast-format{
    /*
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, 1fr));
    grid-auto-rows: auto 350px;
    justify-content: center;
    align-self: center; */
    grid-column: 2/ span 1;
}

.lunch-format{
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, 1fr));
    grid-auto-rows: auto 350px;
    justify-content: center;
    align-self: center;
}

.dinner-format{
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, 1fr));
    grid-auto-rows: auto 350px;
    justify-content: center;
    align-self: center;
}
.restaurants-format{
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, 1fr));
    grid-auto-rows: auto 350px;
    justify-content: center;
    align-self: center;
}

.form{
    display: flex;
    flex-direction: column;
    background-color: white; /* colour added just for visibility purposes when debugging */
    /* margin: auto; */
    /* height: 200px;  */
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    resize: vertical; 
  
    }
    
.about > div {
    margin-bottom: 40px;
    }

.text-block{
    text-align: center; 
    margin: auto 0;
    background-color: rgb(214, 214, 214); 
    border: 10px solid black;
    padding: 30px;
}
    
.gallery-images {
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row; 
    padding: 0 4px;
    
}
    
.gallery-images img{
    object-fit: cover;
    width: 100%;
    padding: 0 1px; 
    background-color: rgb(214, 214, 214);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
.breakfast-format img{
    grid-column: 1 / -1;
    max-height: 700px;
    overflow: hidden;

}

.lunch-format img{
    width: 80%;
    padding: 20px;
}

.dinner-format img{
    width: 80%;
    padding: 20px;
}

.restaurants-format img{
    width: 80%;
    padding: 20px;
}

@media screen and (min-width: 800px){

#container{
  background-color: rgb(214, 214, 214);
  box-sizing: border-box;
  width: 90vw;
  margin: 0 auto;
}

.breakfast-text{
    padding: 10px;
}

.lunch-text{
    padding: 10px;
}

.dinner-text{
    padding: 10px;
}

.restaurants-text{
    padding: 10px;
}
  
.about-text{
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 40px;
    flex: 1;
}
 
.gallery{
    display:flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 20px;
    
}
    
.gallery-images{
    display: grid;
    grid-template: repeat(3, 300px) / repeat(3, 300px);
    
}
    
.gallery-images img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

@media (max-width: 400px) {
    .gallery-images {
      display: block;
      padding: 20px;

    }
  }

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto;
    }
}  
    
.skip a{
    background: rgb(214, 214, 214);
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: none !important;
    transition: none !important;
    z-index: 1;
}
    
.skip a:focus{
    top:0;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
