html{
    scroll-behavior: smooth;
}

body{
    background-color: #f1faee;
    font-size: 18px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.tara_picture{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
    height: auto;
}

header{
    animation-name: header_animation;
    animation-duration: 5s;
    margin-bottom: 15px;
}

@-webkit-keyframes header_animation{
	from {opacity: 0}
	to {opacity: 1}
}

@keyframes header_animation{
	from {opacity: 0}
	to {opacity: 1}
}

/*

Paragraph Headers */
h1{
    font-size: 50px;
    color: #643f53;
    line-height: 1;
    padding-top: 20px;
    padding-bottom: 30px; 
    text-align: center;
    display: block;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}
 
h2{
    font-size: 32px;
    line-height: 1.5;
    color: #643f53;
    text-align: center;
    display: block;
    font-family: 'Playfair Display', 'serif';
    padding-top: 30px;
}

h3{
    font-size: 22px;
    color: #1d3557;
    text-align: center;
    font-family: 'Montserrat', 'sans-serif';
}
    
p{
    font-size: 18px;
    line-height: initial;
    text-align: center;
    display: block;
    padding: 10px;  
    color: #1d3557;   
}


a.activePage{ 
    text-decoration: underline;
    font-weight: bold;
    text-transform: uppercase;
    color: #1d3557;
}

nav li{
    float:left; 
    align-content: center; 
}
nav a{
    display:block; 
    text-align: center;
    width: 150px; 
    text-decoration: none;
    color: #643f53;
}

nav ul{
    display: flex;
    list-style-type:none;
    text-align: center;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
nav a:hover{
    text-decoration: underline;
    text-transform: uppercase;
    color: #1d3557;
}

nav{
    border-bottom: 2px solid #1d3557;
    border-top: 2px solid #1d3557;
    background-color: rgb(128, 155, 206, 0.5);
}


/*Skip */
.skip a{
    background: #f1faee;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}
    
a.skip{
    top:auto;
}
    
.skip a:focus, .skip a:active{
    border: 2px slid #022449;
    left: auto;
    top:auto;
    height: auto;
    overflow: auto;
    margin: 40px;
    padding: 6px;
    z-index: 999;
}
    
/* Footer  */ 
footer {
    background-color: rgb(128, 155, 206, 0.5);
    color: #f1faee;
    grid-column: 1 / -1;
    grid-row: 7 / auto;
    padding-top: 5px;
    text-align: left;
    border-top: 2px solid #1d3557;
    border-bottom: 2px solid #1d3557;
}

/* home page */
.about{
    padding: 50px; 
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1faee;
    margin: auto;
}

.gallery-images {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
}
    
.gallery-images img{
    object-fit: cover;
    width: 100%;
    padding: 0 1px; 
    background-color: rgb(214, 214, 214);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
figcaption {
    background-color: #f1faee;
    color: #985d5f;
    font-style: italic;
    padding: 2px;
    text-align: center;
  }

.contact{
    background-color: rgb(128, 155, 206, 0.5);
    margin: 50px;
    border: 2px solid #1d3557;
}
.form{
    grid-row: 1 / span 1;
    padding: 20px;
}

input[type=text], input[type=email], textarea{
 	width: 100%;
	padding: 12px 20px;
 	margin: 8px 0;
	display: inline-block;
 	border: 1px solid #ccc;
 	border-radius: 4px;
 	box-sizing: border-box;
}

input[type=submit]{
 	width: 100%;
	background-color: #985d5f;
	color: #f1faee;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover{
	background-color: #643f53;
}

input[type=submit]:focus{
	background-color: #bab2b5;
}

/* pages */

.container-b{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-row-gap: 15px;
}

.container-l{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-row-gap: 15px;
}

.container-d{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-row-gap: 15px;
}
.smoothie-image img, .tofuscramble-image img, .avotoast-image img{
    max-width: 300px;
    height: auto;
    padding: 5px;
    margin: auto;
}

.smoothie, .tofu-scramble, .avocado-toast{
    background-color: rgb(152, 93, 95, 0.25);
    margin: 20px;
}

.salad-image img, .chickpeatuna-image img, .falafel-image img{
    max-width: 300px;
    height: auto;
    padding: 5px;
    margin: auto;
}

.salad, .chickpeatuna, .falafel{
    background-color: rgb(152, 93, 95, 0.25);
    margin: 20px;
}

.lasagna-image img, .lentilsoup-image img, .stirfry-image img{
    max-width: 300px;
    overflow: hidden;
    height: auto;
    
    padding: 5px;
}

.pasta, .lasagna, .lentilsoup, .stirfry{
    background-color: rgb(152, 93, 95, 0.25);
    margin: 20px;
}

.pastaflip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

.pastaflip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.pastaflip-card:hover .pastaflip-card-inner,
.pastaflip-card:focus-within .pastaflip-card-inner,
.pastaflip-card:active .pastaflip-card-inner,
.pastaflip-card:focus .pastaflip-card-inner {
transform: rotateY(180deg);
}

.pastaflip-card-front, .pastaflip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}

.pastaflip-card-back {
    transform: rotateY(180deg);
}

.pastaflip-card-inner img{
    height: auto;
    width: 300px;
}

.container-r{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap: 15px;
}
.lrflip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

.lrflip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.lrflip-card:hover .lrflip-card-inner,
.lrflip-card:focus-within .lrflip-card-inner,
.lrflip-card:active .lrflip-card-inner,
.lrflip-card:focus .lrflip-card-inner {
transform: rotateY(180deg);
}

.lrflip-card-front, .lrflip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}

.lrflip-card-back {
    transform: rotateY(180deg);
}

.lrflip-card-inner img{
    height: auto;
    width: 300px;
}
#lunchroom_list{
    margin-left: 50px;
    color: #1d3557;
}
#greenfusion_list{
    margin-left: 50px;
    color: #1d3557;
}

#veggiegrill_list{
    margin-left: 50px;
    color: #1d3557;
}

#tips_list{
    margin-left: 50px;
    color: #1d3557;
}

.gfflip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

.gfflip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.gfflip-card:hover .gfflip-card-inner,
.gfflip-card:focus-within .gfflip-card-inner,
.gfflip-card:active .gfflip-card-inner,
.gfflip-card:focus .gfflip-card-inner {
transform: rotateY(180deg);
}

.gfflip-card-front, .gfflip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}

.gfflip-card-back {
    transform: rotateY(180deg);
}

.gfflip-card-inner img{
    height: auto;
    width: 300px;
}

.vgflip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

.vgflip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.vgflip-card:hover .vgflip-card-inner,
.vgflip-card:focus-within .vgflip-card-inner,
.vgflip-card:active .vgflip-card-inner,
.vgflip-card:focus .vglip-card-inner {
transform: rotateY(180deg);
}

.vgflip-card-front, .vgflip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}

.vgflip-card-back {
    transform: rotateY(180deg);
}

.vgflip-card-inner img{
    height: auto;
    width: 300px;
}

.restaurant-text{
    display: block;
    margin: 20px 20px;
    padding: 3px;
    background-color: rgb(152, 93, 95, 0.25);
    border: 2px solid #1d3557;
}

.about {
    align-items: center;
    justify-content: center;
    background-color: rgba(241, 250, 238);
}

/* desktop view */

@media screen and (min-width: 1024px){
    .tara_picture{
        width: 400px;
        height: auto;
        padding-left: 50px;
        animation-name: tara_animation;
        animation-duration: 8s;
    }

    @-webkit-keyframes tara_animation{
        from {width: 100px}
        to {width: 400px}
      
      }
      
      @keyframes tara_animation{
        from {width: 100px}
        to {width: 400px}
      
      } 
      
    nav ul{
        display: flex;
        list-style-type:none;
        flex-flow: row;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 120px;
        margin-left: 120px;
    }
    

    .breakfast-format{
        display: grid;
        grid-template-columns: repeat(2, minmax(50%, 1fr));
        grid-auto-rows: auto 350px;
        justify-content: center;
        align-self: center;
    }

    .lunch-format{
        display: grid;
        grid-template-columns: repeat(2, minmax(50%, 1fr));
        grid-auto-rows: auto 350px;
        justify-content: center;
        align-self: center;
    }

    .dinner-format{
        display: grid;
        grid-template-columns: repeat(2, minmax(50%, 1fr));
        grid-auto-rows: auto 350px;
        justify-content: center;
        align-self: center;
    }

    .rest-format{
        display: grid;
        grid-template-columns: repeat(2, minmax(50%, 1fr));
        grid-auto-rows: auto 350px;
        justify-content: center;
        align-self: center;
        margin-left: 80px;
    }

    .restaurant-text{
        display: block;
        margin-left: 70px;
        margin-right: 70px;
        margin-bottom: 20px;
        padding: 10px;
        background-color: rgb(152, 93, 95, 0.25);
        border: 2px solid #1d3557;
    }
    .smoothie-image img, .tofuscramble-image img, .avotoast-image img{
        max-width: 300px;
        height: auto;
        justify-items: center;
        margin-left: 80px;

    }

    .tofuscramble-image{
        grid-row: 1 / -1;
        margin-left: auto;
        margin-right: auto;
    }

    .smoothie-image, .avotoast-image{
        margin-left: auto;
        margin-right: auto;

    }
    

    
    .salad-image img, .chickpeatuna-image img, .falafel-image img{
        max-width: 300px;
        height: auto;
    }
    .chickpeatuna-image{
        grid-row: 1 / -1;
        margin-left: auto;
        margin-right: auto;
    }

    .salad-image, .falafel-image{
        margin-left: auto;
        margin-right: auto;
    }
    


    .lasagna-image img, .lentilsoup-image img, .stirfry-image img{
        max-width: 300px;
        overflow: hidden;
        height: auto;
        align-items: right;
        margin-left: 80px;
    }

    .lasagna-image{
        grid-row: 1 / -1;
        margin-left: auto;
        margin-right: auto;
    }
    
    .stirfry-image{
        grid-row: 1 / -1;
        margin-left: auto;
        margin-right: auto;
    }

    .lentilsoup-image{
        margin-left: auto;
        margin-right: auto;
    }


    .lrflip-card-inner img{
        height: auto;
        width: 400px;
    }
    #lunchroom_list{
        margin-left: 70px;
        color: #1d3557;
    }

    #greenfusion_list{
        margin-left: 70px;
        color: #1d3557;
    }

    #veggiegrill_list{
        margin-left: 70px;
        color: #1d3557;
    }

    #tips_list{
        margin-left: 70px;
        color: #1d3557;
    }
        
        
    .about > div {
        margin-bottom: 40px;
        }

    .text-block{
        text-align: center; 
        margin: auto 0;
        background-color: rgb(214, 214, 214); 
        border: 10px solid black;
        padding: 30px;
    }
   
    .about {
        /*padding: 20px 40px 40px;
        max-width: 640px;
        &-text {
          flex: 1 1 auto;
        }*/
        display: flex;
        flex-direction: row;
        
      }

    .gallery {
        display: flex; 
        flex-wrap: wrap; 
        flex-direction: row; 
        padding: 0 4px;
        margin: 15px;
    }
        

    .gallery-images{
        display: grid;
        grid-template: repeat(3, 300px) / repeat(3, 300px);
        
    }
    .gallery-images img{
        object-fit: cover;
        width: 100%;
        height: auto;
        margin: 10px;
    }
        

    figcaption{
        overflow: auto;
    }


    .pizza figure img{
        border: none;
        margin: 0px;
        padding: 0px;
        height: 300px;
        width: 300px;
        position: absolute;
    }

    .pizza figure figcaption{
        background: rgba(250, 235, 215,.5);
        height: 300px;
        width: 300px;
        text-align: center;
        margin: auto;
        color: black;
        visibility: hidden;
        opacity: 0;
        position: relative;
        transition: opacity .2s, visibility .2s;
    }

    .pizza figure:hover figcaption{
        visibility: visible;
        opacity: 1;
    }

    .alteatschickpeatuna figure img{
        border: none;
        margin: 0px;
        padding: 0px;
        height: 300px;
        width: 300px;
        position: absolute;
    }

    .alteatschickpeatuna figure figcaption{
        background: rgba(250, 235, 215,.5);
        height: 300px;
        width: 300px;
        text-align: center;
        margin: auto;
        color: black;
        visibility: hidden;
        opacity: 0;
        position: relative;
        transition: opacity .2s, visibility .2s;
    }

    .alteatschickpeatuna figure:hover figcaption{
        visibility: visible;
        opacity: 1;
    }

    .tacosalad figure img{
        border: none;
        margin: 0px;
        padding: 0px;
        height: 300px;
        width: 300px;
        position: absolute;
    }

    .tacosalad figure figcaption{
        background: rgba(250, 235, 215,.5);
        height: 300px;
        width: 300px;
        text-align: center;
        margin: auto;
        color: black;
        visibility: hidden;
        opacity: 0;
        position: relative;
        transition: opacity .2s, visibility .2s;
    }

    .tacosalad figure:hover figcaption{
        visibility: visible;
        opacity: 1;
    }

    .stirfrynoodle figure img{
        border: none;
        margin: 0px;
        padding: 0px;
        height: 300px;
        width: 300px;
        position: absolute;
    }

    .stirfrynoodle figure figcaption{
        background: rgba(250, 235, 215,.5);
        height: 300px;
        width: 300px;
        text-align: center;
        margin: auto;
        color: black;
        visibility: hidden;
        opacity: 0;
        position: relative;
        transition: opacity .2s, visibility .2s;
    }

    .stirfrynoodle figure:hover figcaption{
        visibility: visible;
        opacity: 1;
    }

    .stuffedmushrooms figure img{
        border: none;
        margin: 0px;
        padding: 0px;
        height: 300px;
        width: 300px;
        position: absolute;
    }

    .stuffedmushrooms figure figcaption{
        background: rgba(250, 235, 215,.5);
        height: 300px;
        width: 300px;
        text-align: center;
        margin: auto;
        color: black;
        visibility: hidden;
        opacity: 0;
        position: relative;
        transition: opacity .2s, visibility .2s;
    }

    .stuffedmushrooms figure:hover figcaption{
        visibility: visible;
        opacity: 1;
    }

    .taco figure img{
        border: none;
        margin: 0px;
        padding: 0px;
        height: 300px;
        width: 300px;
        position: absolute;
    }

    .taco figure figcaption{
        background: rgba(250, 235, 215,.5);
        height: 300px;
        width: 300px;
        text-align: center;
        margin: auto;
        color: black;
        visibility: hidden;
        opacity: 0;
        position: relative;
        transition: opacity .2s, visibility .2s;
    }

    .taco figure:hover figcaption{
        visibility: visible;
        opacity: 1;
    }

    .wagamama figure img{
        border: none;
        margin: 0px;
        padding: 0px;
        height: 300px;
        width: 300px;
        position: absolute;
    }

    .wagamama figure figcaption{
        background: rgba(250, 235, 215,.5);
        height: 300px;
        width: 300px;
        text-align: center;
        margin: auto;
        color: black;
        visibility: hidden;
        opacity: 0;
        position: relative;
        transition: opacity .2s, visibility .2s;
    }

    .wagamama figure:hover figcaption{
        visibility: visible;
        opacity: 1;
    }

    .hummus figure img{
        border: none;
        margin: 0px;
        padding: 0px;
        height: 300px;
        width: 300px;
        position: absolute;
    }

    .hummus figure figcaption{
        background: rgba(250, 235, 215,.5);
        height: 300px;
        width: 300px;
        text-align: center;
        margin: auto;
        color: black;
        visibility: hidden;
        opacity: 0;
        position: relative;
        transition: opacity .2s, visibility .2s;
    }

    .hummus figure:hover figcaption{
        visibility: visible;
        opacity: 1;
    }

    .thebagel figure img{
        border: none;
        margin: 0px;
        padding: 0px;
        height: 300px;
        width: 300px;
        position: absolute;
    }

    .thebagel figure figcaption{
        background: rgba(250, 235, 215,.5);
        height: 300px;
        width: 300px;
        text-align: center;
        margin: auto;
        color: black;
        visibility: hidden;
        opacity: 0;
        position: relative;
        transition: opacity .2s, visibility .2s;
    }

    .thebagel figure:hover figcaption{
        visibility: visible;
        opacity: 1;
    }
/*
    .gallery-images img{
        object-fit: cover;
        width: 100%;
        padding: 0 1px; 
        background-color: rgb(214, 214, 214);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
*/

    .lunch-format img{
        width: 80%;
        padding: 20px;
    }

    .dinner-format img{
        width: 80%;
        padding: 20px;
    }

    .rest-format img{
        width: 80%;
        padding: 20px;
    }
    footer {
        background-color: rgb(128, 155, 206, 0.5);
        color: #f1faee;
        grid-column: 1 / -1;
        grid-row: 7 / auto;
        padding-top: 5px;
    }

@media screen and ((min-width: 760px) and (max-width: 1024px)){
    .tara_picture{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
        height: auto;
    }
    nav ul{
        display: flex;
        list-style-type:none;
        flex-flow: row;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 50px;
        margin-left: 50px;
    }

    .about{
        flex-direction: column;
    }
    #container{
    background-color:  #f2f2f2;
    box-sizing: border-box;
    width: 90vw;
    margin: 0 auto;
    }

    .breakfast-text{
        padding: 10px;
    }

    .lunch-text{
        padding: 10px;
    }

    .dinner-text{
        padding: 10px;
    }

    .restaurants-text{
        padding: 10px;
    }
    
    .about-text{
        padding-left: 120px;
        padding-right: 120px;
        padding-bottom: 40px;
        flex: 1;
    }
    
    .gallery{
        display:flex;
        justify-content: center;
        align-content: center;
        padding-bottom: 20px;
        
    }
        
    .gallery-images{
        display: grid;
        grid-template: repeat(3, 300px) / repeat(3, 300px);
        
    }
    
    .gallery-images img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        
    }

    .pizza figure img, .alteatschickpeatuna figure img, .tacosalad figure img, .stirfrynoodle figure img, 
    .stuffedmushrooms figure img, .wagamama figure img, .hummus figure img, .thebagel figure img{
        margin: 5px;
   
    }

    nav li{
        float:left; 
        align-content: center;
        font-size: 24px; 
    }


@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto;
    }
    .lrflip-card-inner {
        transition: transform none;
    }
    
    .pastaflip-card-inner {
        transition: transform none;
    }

    .gfflip-card-inner {
        transition: transform none;
    }

    .vgflip-card-inner {
        transition: transform none;
    }
    header{
        animation: none;
    }

    .tara_picture{
        animation: none;
    }
}  
    
.skip a{
    background: rgb(214, 214, 214);
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: none !important;
    transition: none !important;
    z-index: 1;
}
    
.skip a:focus{
    top:0;
}

.contact{
    grid-row: 1 / span 1;
    margin: 50px;
}